@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==');
/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> */
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    box-sizing: border-box;
}

h1{
    font-size: 4rem;
    font-weight: 700;
}

body{
    background-color: #fafafa;
    text-align: center;
    overflow: visible;
}
main{
    margin: 8rem auto ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 70%;
}
label{
    display: flex;
    padding: 0.5em;
}

#output-container{
    padding: 1em;
    flex: 2;
}

input{
    border-radius: 20px;
    padding: .25em;
}

button{
    margin-top: 2em;
    padding: 0.35em;
    border-radius: 20px;
}

button:hover{
    color: #fff;
    background-color: black;
    cursor: pointer;
    transition: 0.15s ease-in;
}

button:active{
    color: #fff;
    background-color: black;
    transform: scale(0.98);
}

/* Footer */

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10px;
  }
  
  footer p {
    
    font-size: 1.50 rem;
    text-align: center;
  }
   
  .fab {
    margin: 0.5rem;
  }
  
  .footer-list {
    margin: 1rem;
  }
  
  a{
    display: inline;
    text-decoration: none;
    color: black;
  }

  a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 500px) {
    main{
        margin: 6rem auto;
    }
}