@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    box-sizing: border-box;
}

h1{
    font-size: 4rem;
    font-weight: 700;
}

body{
    background-color: #fafafa;
    text-align: center;
    overflow: visible;
}
main{
    margin: 8rem auto ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 70%;
}
label{
    display: flex;
    padding: 0.5em;
}

#output-container{
    padding: 1em;
    flex: 2;
}

input{
    border-radius: 20px;
    padding: .25em;
}

button{
    margin-top: 2em;
    padding: 0.35em;
    border-radius: 20px;
}